
/* Asignaci칩n de colores y justificacion en textos */

#titulo {
    color: rgb(5, 31, 65); 
    text-align: center;
}

div h2 {
    color:rgb(20, 122, 255)
}

/* Asignaci칩n de un fondo */

#fondo {
    background-color: rgb(189, 183, 183);
    margin: 25px 100px 25px 100px;
    padding: 50px 50px 50px 50px;
    border: solid 10px black;
}

#fondotototal {
    background-color: rgb(27, 16, 41);
    margin: 0;
    padding: 0;
    

}


/* Asignaci칩n de margen */
.margen {
    background-color: rgb(189, 183, 183);
    margin: 25px 100px 25px 100px;
    padding: 50px 50px 50px 50px;
    border: solid 10px black;
    height: 50px;
}

/* Dise침o de tabla */
table {
            border: 10px solid black;
        }
        th, td {
            border-collapse: collapse;
            padding: 5px;
        }
        th {
            background-color: rgb(189, 183, 183);
        }